.product{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    width: 10%;
    max-height: 350px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  margin-left:20px ;
  margin-right:40px ;
  





}

.product_rating{
    display:flex;
    font-size: 11px;

    
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 10px;
}

button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a20 ;
    color: #111;
cursor: pointer;  
padding: 5px;
margin-bottom: 20px;

}
.product_price{
    font-size:15px ;
    color: rgb(184, 15, 15);
    font-weight: 400;
    margin: 7px;
}
.product_info{
    margin-bottom: 15px;
    font-size: 15px;
    color: rgb(7, 114, 214);
    
}

